
Python/Tracking Systems/Lab1/.idea/Lab1.iml
Python/Tracking Systems/Lab1/.idea/misc.xml
Python/Tracking Systems/Lab1/.idea/modules.xml
Python/Tracking Systems/Lab1/.idea/vcs.xml
Python/Tracking Systems/Lab1/.idea/workspace.xml
